.about {
    width: 100%;
    flex-direction: column;
    font-family: 'PP Neue Machina';
    overflow-x: hidden;

    .about-me {
        font-weight: 800;
        font-size: 35px;
        margin-top: 5rem;
    }
    .desktop {
        overflow-x: hidden;
        
        .profilepic {
            width: 100%;
            height: 40%;
            margin-top: 3rem;
    
            .pic {
                width: calc(230px + (250 - 230) * ((100vw - 350px) / (1700 - 350)));
                height: calc(250px + (270 - 250) * ((100vw - 350px) / (1700 - 350)));
                border-radius: 50%;
            }
    
            ul {
                text-decoration: none;
                list-style: none;
                display: flex;
                padding-left: 0;
                margin-top: 1rem;
    
                li {
                    padding: 10px;
                    cursor: pointer;
    
                    .img-odd {
                        width: 40px;
                        height: 40px;
                        color: #98e8cd;
                    }
                    .img-even {
                        width: 40px;
                        height: 40px;
                        color: #d04b16;
                    }
                }
            }
        }
        .content {
            width: 100%;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .aboutme {
                display: none;
            }
            .description {
                width: 85%;
                font-weight: 300;
                font-size: calc(18px + (20 - 18) * ((100vw - 350px) / (1700 - 350)));
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .about {    
        .about-me {
            display: none;
        }
        .desktop {
            display: flex;
            margin-top: 2rem;
            margin-bottom: 3rem;
     
            .profilepic {
                width: 50%;
            }
            .content {
                width: 50%;
                margin-top: 0;
                margin-bottom: 0;
                flex-direction: column;
        
                .aboutme {
                    display: block;
                    font-size: 35px;
                    font-weight: 800;
                }
                .description {
                    margin-top: 3rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .about {    
        .desktop {
            width: 90%;
        }
    }
}

@media only screen and (min-width: 1400px) {
    .about {    
        .desktop {
            width: 80%;
        }
    }
}

@media only screen and (min-width: 1700px) {
    .about {    
        .desktop {
            width: 70%;
        }
    }
}