.navbar-home {
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: space-between;

    .navbar-home-name {
        .name {
            display: block;
            font-size: 1.5rem;
            text-decoration: none;
            line-height: normal;
            margin-left: 2rem;
            color: black;
            margin-top: 0.8rem;
    
            .name-full {
                font-family: 'Agustina';
            }
        }
        .navbar-home-toggler {
            padding: 0.25rem 0.75rem;
            font-size: 1.25rem;
            line-height: 1;
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 0.25rem;
            display: none;
            margin-right: 2rem;
        }
        .navbar-home-toggler-icon {
            font-size: 1.5rem;
        }
    }
    .list {
        display: flex;
        flex-direction: row;  
        list-style: none;
        overflow: hidden;
        margin-right: 2rem;
        margin-bottom: 0;
    }
    .list li {
        padding: 1rem;
        margin-right: 1.5rem;
        cursor: pointer;
        text-align: center;
    }
    .list li:hover {
        color: blue;
    }
}
.navbar-home-transparent {
    background-color: hsla(0, 0%, 100%, 0);
    transition: background-color .2s;
}
@media (max-width: 992px) {
    .navbar-home-expand {
        flex-direction: column;
        align-items: flex-start;

        .navbar-home-name {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .navbar-home-toggler {
                display: block;
            }
        }
        .list {
            flex-direction: column;
            width: 100%;
            text-align: center;
            padding: 0.5rem;
            display: none;
        }
        .list-display {
            display: block;
        }
    }
}