.main {
    background-color: #030a13;
    height: 100vh;
    color: white;
    
    .header {
        width: 100%;

        ul {
            text-decoration: none;
            list-style: none;
            margin-top: 0.8rem;
            margin-right: 0.4rem;
            font-family: 'PP Neue Machina';
            font-weight: 300;

            li {
                font-size: 15px;
                padding: 12px;
                letter-spacing: 1px;
                transition: 0.5s;
            }
            li:hover {
                cursor: pointer;
            }

            .li-about {
                display: none;
            }
        }
    }
    .main-sub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 75.283px);
        margin-top: -30px;
        overflow-x: hidden;

        .lineart {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            margin: 30px;
            height: 50%;

            img {
                width: 360px;
                height: 264px;
            }
        }
        .contents {
            overflow-x: hidden;
            height: 50%;

            .content {
                width: 90%;
                flex-direction: column;

                .first {
                    font-size: 15px;
                    font-family: 'PP Neue Machina';
                    font-weight: 400;
                    text-align: center;
                }
                .name-title {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    text-align: center;

                    .style-left {
                        position: absolute;
                        border-top: 1px solid red;
                        border-left: 1px solid red;
                        width: 35px;
                        height: 35px;
                        top: 0.75rem;
                        left: -5px;
                    }
                    .style-right {
                        position: absolute;
                        border-bottom: 1px solid red;
                        border-right: 1px solid red;
                        width: 35px;
                        height: 35px;
                        bottom: -0.5rem;
                        right: -5px;
                    }
                    .second {
                        font-size: 37px;
                        margin-top: 0.5rem;
                        font-family: 'Hagrid';
                        font-weight: 400;
                        color: #98e8cd;
                    }
                    .third {
                        font-size: 17px;
                        margin-top: 0.6rem;
                        font-family: 'PP Neue Machina';
                    }
                }
                .fourth {
                    font-size: 13px;
                    font-weight: 300;
                    margin-top: 1rem;
                    font-family: 'PP Neue Machina';
                    text-align: justify;
                    text-justify: inter-word;
                }
                .button {
                    width: 140px;
                    padding: 6px;
                    background-color: #d04b16;
                    font-family: 'PP Neue Machina';
                    font-size: 14px;
                    margin-top: 1.2rem;
                    color: white;
                    border: 1px solid #d04b16;
                    position: relative;

                    .style-button-line {
                        position: absolute;
                        width: 300px;
                        border-top: 3px solid #d04b16;
                        left: -200px;
                        bottom: -1px;
                    }
                }
                .button:hover {
                    background-color: #bf3e0b;
                }
            }
        }
    }
}

@media only screen and (max-height: 640px) and (orientation: portrait) {
    .main {
        height: 150vh;

        .main-sub {
            height: calc(150vh - 76.783px) !important;

            .lineart {
                height: 40%
            }
            .contents {
                height: 60%;
            }
        }
    }
}

@media only screen and (max-height: 742px) and (orientation: portrait) {
    .main {
        height: 120vh;

        .main-sub {
            height: calc(120vh - 76.783px) !important;

            .lineart {
                height: 40%
            }
            .contents {
                height: 60%;
            }
        }
    }
}

@media only screen and (min-height: 300px) and (orientation: landscape) {
    .main {
        height: 250vh;

        .main-sub {
            height: calc(250vh - 76.783px) !important;

            .contents {
                height: 90% !important;
            }
        }
    }
}

@media only screen and (min-height: 300px) and (min-width: 768px) and (orientation: landscape) {
    .main {
        height: 180vh;

        .main-sub {
            height: calc(180vh - 76.783px) !important;
        }
    }
}

@media only screen and (min-height: 400px) and (orientation: landscape) {
    .main {
        height: 200vh;

        .main-sub {
            height: calc(200vh - 76.783px) !important;
        }
    }
}

@media only screen and (min-height: 400px) and (min-width: 768px) and (orientation: landscape) {
    .main {
        height: 130vh;

        .main-sub {
            height: calc(130vh - 76.783px) !important;
        }
    }
}

@media only screen and (min-height: 500px) and (orientation: landscape) {
    .main {
        height: 150vh;

        .main-sub {
            height: calc(150vh - 76.783px) !important;
        }
    }
}

@media only screen and (min-height: 500px) and (min-width: 768px) and (orientation: landscape) {
    .main {
        height: 100vh;

        .main-sub {
            height: calc(100vh - 76.783px) !important;
        }
    }
}

@media only screen and (min-height: 600px) and (orientation: landscape) {
    .main {
        height: 100vh;

        .main-sub {
            height: calc(100vh - 76.783px) !important;
        }
    }
}

@media only screen and (min-width: 400px) { 
    .main {
        .header {
            ul {
                margin-right: 0.5rem;

                li {
                    font-size: 16px;
                }

                @media only screen and (min-width: 470px) {
                    .li-about {
                        display: block;
                    }
                }
            }
        }
        .main-sub {
            height: calc(100vh - 76.783px);

            .contents { 
                .content {        
                    .first {
                        font-size: 17px;
                    }
                    .name-title {
                        .second {
                            font-size: 38px;
                            margin-top: 0.5rem;
                        }
                        .third {
                            font-size: 19px;
                            margin-top: 0.6rem;
                        }
                        @media only screen and (min-width: 500px) { 
                            .second {
                                font-size: 42px;
                                margin-top: 0.5rem;
                            }
                            .third {
                                font-size: 23px;
                                margin-top: 0.6rem;
                            }
                        }
                    }
                    .fourth {
                        font-size: 16px;
                        margin-top: 1rem;
                    }
                    .button {
                        width: 150px;
                        padding: 6px;
                        font-size: 16px;
                        margin-top: 1.2rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) { 
    .main {
        .header {
            ul {
                margin-right: 0.5rem;

                li {
                    font-size: 16px;
                }
            }
        }
        .main-sub {
            height: calc(100vh - 76.783px);

            .lineart {
                height: 43%;
            }
            .contents { 
                height: 57%;
                
                .content {        
                    .first {
                        font-size: 20px;
                    }
                    .name-title {
                        .second {
                            font-size: 46px;
                            margin-top: 0.5rem;
                        }
                        .third {
                            font-size: 25px;
                            margin-top: 0.6rem;
                        }
                    }
                    .fourth {
                        font-size: 18px;
                        margin-top: 1rem;
                    }
                    .button {
                        width: 160px;
                        padding: 6px;
                        font-size: 17px;
                        margin-top: 1.2rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) { 
    .main {
        .header {
            ul {
                margin-right: 0.5rem;

                li {
                    font-size: 16px;
                }
            }
        }
        .main-sub {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 0;

            .lineart {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40%;
                margin-left: -3%;
                position: relative;

                img {
                    position: absolute;
                    width: calc(100% + 20% + 0.75rem);
                    height: 350px;
                    margin-top: 2rem;
                }
            }
            .contents {
                width: 60%;

                .content {        
                    .first {
                        font-size: 20px;
                    }
                    .name-title {
                        .second {
                            font-size: 46px;
                            margin-top: 0.75rem;
                        }
                        .third {
                            font-size: 22px;
                            margin-top: 0.9rem;
                        }
                        @media only screen and (min-width: 900px) { 
                            .second {
                                font-size: 50px;
                                margin-top: 0.75rem;
                            }
                            .third {
                                font-size: 26px;
                                margin-top: 0.8rem;
                            }
                        }
                    }
                    .fourth {
                        font-size: 15px;
                        margin-top: 1.5rem;
                    }
                    .button {
                        width: 160px;
                        padding: 6px;
                        font-size: 17px;
                        margin-top: 3rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .main {
        .header {
            ul {
                margin-right: 1.2rem;

                li {
                    margin-right: 16px;
                }
            }
        }
        .main-sub {
            .lineart {
                width: 40%;
                margin-left: -3%;

                img {
                    width: 44vw;
                    height: 35vw;
                    margin-top: 1rem;
                }
            }
            .contents {
                width: 60%;
                height: 70%;

                .content {        
                    .first {
                        font-size: 22px;
                    }
                    .name-title {
                        .style-left {
                            width: 45px;
                            height: 45px;
                            top: 2rem;
                        }
                        .style-right {
                            width: 45px;
                            height: 45px;
                            bottom: -0.5rem;
                        }
                        .second {
                            font-size: 55px;
                            margin-top: 1rem;
                        }
                        .third {
                            font-size: 28px;
                            margin-top: 1rem;
                        }
                        @media only screen and (min-width: 1090px) { 
                            .second {
                                font-size: 55px;
                                margin-top: 1rem;
                            }
                            .third {
                                font-size: 31px;
                                margin-top: 1rem;
                            }
                        }
                    }
                    .fourth {
                        font-size: 17px;
                        margin-top: 2rem;
                    }
                    .button {
                        width: 180px;
                        padding: 8px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .main {
        .header {
            ul {
                margin-right: 1.8rem;

                li {
                    margin-right: 20px;
                }
            }
        }
        .main-sub {
            .lineart {
                width: 40%;
                margin-left: -1%;

                img {
                    margin-top: 1rem;

                    @media only screen and (min-width: 1300px) {
                        margin-top: -1rem;
                    }
                }
            }
            .contents {
                width: 60%;

                .content {        
                    .first {
                        font-size: 23px;
                    }
                    .name-title {
                        .style-left {
                            width: 50px;
                            height: 50px;
                            top: 2rem;
                        }
                        .style-right {
                            width: 50px;
                            height: 50px;
                            bottom: -0.5rem;
                        }
                        .second {
                            font-size: 65px;
                            margin-top: 1.25rem;
                        }
                        .third {
                            font-size: 34px;
                            margin-top: 1rem;
                        }
                        @media only screen and (min-width: 1300px) { 
                            .second {
                                font-size: 68px;
                                margin-top: 1rem;
                            }
                            .third {
                                font-size: 37px;
                                margin-top: 1rem;
                            }
                        }
                    }
                    .fourth {
                        font-size: 17px;
                        margin-top: 2.5rem;
                    }
                    .button {
                        width: 200px;
                        padding: 13px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .main {
        .header {
            ul {
                margin-right: 1.8rem;

                li {
                    margin-right: 18px;
                    font-size: 20px;
                }
            }
        }
        .main-sub {
            .lineart {
                width: 40%;
                margin-left: -1%;

                img {
                    width: 43vw;
                    height: 34vw;
                    margin-top: -3rem;
                }
            }
            .contents {
                width: 60%;

                .content {        
                    .first {
                        font-size: 25px;
                    }
                    .name-title {
                        .style-left {
                            width: 60px;
                            height: 60px;
                            top: 2rem;
                        }
                        .style-right {
                            width: 60px;
                            height: 60px;
                            bottom: -0.5rem;
                        }
                        .second {
                            font-size: 65px;
                            margin-top: 1.25rem;
                        }
                        .third {
                            font-size: 38px;
                            margin-top: 1rem;
                        }
                        @media only screen and (min-width: 1500px) { 
                            .second {
                                font-size: 70px;
                                margin-top: 1rem;
                            }
                            .third {
                                font-size: 42px;
                                margin-top: 1rem;
                            }
                        }
                        @media only screen and (min-width: 1600px) { 
                            .second {
                                font-size: 80px;
                                margin-top: 1rem;
                            }
                            .third {
                                font-size: 45px;
                                margin-top: 1rem;
                            }
                        }
                    }
                    .fourth {
                        font-size: 17px;
                        margin-top: 2.5rem;
                    }
                    .button {
                        width: 200px;
                        padding: 13px;
                        font-size: 20px;
                    }
                    @media only screen and (min-width: 1600px) { 
                        .fourth {
                            font-size: 20px;
                            margin-top: 2.5rem;
                        }
                        .button {
                            width: 220px;
                            padding: 13px;
                            font-size: 20px;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}