.tools {
    flex-direction: column;
    margin-bottom: 3rem;
    overflow-x: hidden;

    .title {
        font-weight: 800;
        font-size: 35px;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
    .tools-container {
        overflow-x: hidden;
        
        .tools-card {
            width: 32vw;
            margin: 4vw;
            border: 0;
            background-color: rgb(10, 25, 41);

            .card-img-top {
                font-size: 20vw;
            }
            .green {
                color: #98e8cd;
            }
            .orange {
                color: #d04b16;
            }
        }
    } 
}

@media only screen and (min-width: 576px) {
    .tools {
        .tools-container {
            .tools-card {
                width: 28vw;
                margin: 4vw;
            }
        } 
    }
}

@media only screen and (min-width: 768px) {
    .tools {   
        .tools-container {
            .tools-card {
                width: 24vw;
                margin: 4vw;
            }
        } 
    }
}

@media only screen and (min-width: 992px) {
    .tools {   
        .tools-container {
            .tools-card {
                width: 20vw;
                margin: 4vw;
            }
        } 
    }
}

@media only screen and (min-width: 1200px) {
    .tools {   
        .tools-container {
            .tools-card {
                width: 16vw;
                margin: 4vw;
            }
        } 
    }
}

@media only screen and (min-width: 1400px) {
    .tools { 
        .tools-container {
            .tools-card {
                width: 12vw;
                margin: 4vw;
            }
        } 
    }
}