.skills {
    flex-direction: column;
    font-family: 'PP Neue Machina';
    overflow-x: hidden;

    .title {
        width: 80%;
        font-weight: 800;
        font-size: 35px;
        margin-top: 5rem;
        text-align: center;
    }
    .skill-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 95%;
        overflow-x: hidden;
        margin-top: 2rem;

        .skill-tabs {
            position: relative;
            padding: 1.5rem;
            margin-right: 0;
            margin-left: 0;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            width: 100%;
            align-self: center; 
    
            ul {
                border-bottom: 1px solid #98e8cd;
            }
            ul li button {
                color: white;
                letter-spacing: 1px;
                font-size: 10px;
                transition-duration: 300ms;
                transition-property: background-color, border-color, color, fill, stroke;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
            ul li .active {
                font-weight: 600;
                background-color: rgb(10, 25, 41);
                border-color: #98e8cd;
                color: #98e8cd;
            }     
            ul li button:hover {
                border-color: #98e8cd;
            }   
            .icon-container {
                margin-top: 2rem;
                width: 100%;
                height: 700px;
                overflow-y: hidden;
                padding: 1rem;
    
                .icons-tab {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    flex-wrap: wrap;
    
                    .iconlogo {
                        transition-duration: 300ms;
                        transition-property: background-color, border-color, color, fill, stroke;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                        margin-bottom: 1rem;
                        
                        .icon-img-sweetalert2 {
                            margin: 15px;
                            height: calc(78px + (90 - 78) * ((100vw - 350px) / (1700 - 350)));
                            width: calc(78px + (90 - 78) * ((100vw - 350px) / (1700 - 350)));
                            cursor: pointer;
                        }
                        .icon-img {
                            margin: 15px;
                            cursor: pointer;
                            font-size: calc(65px + (80 - 65) * ((100vw - 350px) / (1700 - 350)));
                        }
                        .icon-img-even {
                            color: #d04b16;
                        }
                        .icon-img-odd {
                            color: #98e8cd; 
                        }
                        .icon-name {
                            display: none;
                        }
                    }
                    .iconlogo:hover {
                        .icon-img-sweetalert2 {
                            transform: scale(1.2, 1.2);
                        }
                        .icon-img {
                            transform: scale(1.2, 1.2);
                        }
                        .icon-name {
                            display: block;
                        }
                    }
                }
            }
        }
        .personal {
            display: flex;
            flex-direction: column;
            width: 90%;
            overflow-x: hidden;
            align-self: center;

            .education {
                display: flex;
                flex-direction: column;

                .titlework {
                    display: flex;
                    align-items: center;

                    .icon {
                        font-size: calc(40px + (46 - 40) * ((100vw - 350px) / (992 - 350)));
                        margin-right: 0.4rem;
                        color: rgba(255,71,143,255);
                    }
                    span {
                        font-size: calc(25px + (32 - 25) * ((100vw - 350px) / (992 - 350)));
                        font-weight: 400;
                        color: rgba(255,71,143,255);
                    }
                }
                .course {
                    margin-top: 10px;
                    font-size: calc(20px + (26 - 20) * ((100vw - 350px) / (992 - 350)));
                }
                .school {
                    font-size: calc(16px + (21 - 16) * ((100vw - 350px) / (992 - 350)));
                    font-weight: 300;
                }
                .location {
                    font-size: calc(16px + (21 - 16) * ((100vw - 350px) / (992 - 350)));
                    font-weight: 300;
                }
                .class {
                    font-size: calc(16px + (21 - 16) * ((100vw - 350px) / (992 - 350)));
                    font-weight: 300;
                }
            }
            .work {
                display: flex;
                flex-direction: column;
                margin-bottom: 3rem;
                margin-top: 4rem;

                .titlework {
                    display: flex;
                    align-items: center;

                    .icon {
                        font-size: calc(40px + (46 - 40) * ((100vw - 350px) / (992 - 350)));
                        margin-right: 0.4rem;
                        color: rgba(255,71,143,255);
                    }
                    span {
                        font-size: calc(25px + (32 - 25) * ((100vw - 350px) / (992 - 350)));
                        font-weight: 400;
                        color: rgba(255,71,143,255);
                    }
                }
                .worktitle {
                    margin-top: 10px;
                    font-size: calc(20px + (26 - 20) * ((100vw - 350px) / (992 - 350)));
                }
                .company {
                    font-size: calc(16px + (21 - 16) * ((100vw - 350px) / (992 - 350)));
                    font-weight: 300;
                }
                .render {
                    font-size: calc(16px + (21 - 16) * ((100vw - 350px) / (992 - 350)));
                    font-weight: 300;
                }
            }
        }
    }
}

@media only screen and (min-width: 412px) {
    .skills {  
        .skill-content {  
            .skill-tabs { 
                ul li button {
                    font-size: 13px;
                }
                .icon-container {
                    height: 485px;
                }
            }
            .personal {
                width: 90%;

                .education {
                    .course {
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}

@media only screen and  (min-width: 576px) { 
    .skills {  
        .skill-content {  
            width: 95%;

            .skill-tabs {  
                width: 95%;

                ul li button {
                    font-size: 18px;
                }              
                .icon-container {
                    height: 390px;
                }
            }
            .personal { 
                width: 80%;

                .education {
                    
                    .titlework {
                        .icon {
                            margin-right: 1rem;
                        }
                    }
                    .course {
                        margin-top: 15px;
                    }
                }
                .work {   
                    .titlework {  
                        .icon {
                            margin-right: 1rem;
                        }
                    }
                    .worktitle {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and  (min-width: 768px) {
    .skills {  
        .skill-content {  
            width: 90%;

            .skill-tabs { 
                width: 90%;  
                margin-top: 1.5rem;

                ul li button {
                    font-size: 18px;
                } 
                .icon-container {
                    height: 382px;

                    .icons-tab {
                        .iconlogo {
                            img {
                                margin: 20px;
                            }
                        }
                    }
                }
            }
            .personal {   
                width: 80%;

                .education {
                    .school {
                        margin-top: 0.5rem;
                    }
                    .location {
                        margin-top: 0.5rem;
                    }
                    .class {
                        margin-top: 0.5rem;
                    }
                }
                .work {   
                    .titlework {  
                        .icon {
                            margin-right: 1rem;
                        }
                    }
                    .company {
                        margin-top: 0.5rem;
                    }
                    .render {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and  (min-width: 992px) {
    .skills {  
        .skill-content {  
            width: 95%; 
            flex-direction: row-reverse;
            margin-bottom: 4rem;

            .skill-tabs { 
                width: 60%;
                align-self: flex-start;
                margin-top: 0;

                ul li button {
                    font-size: 18px;
                } 
                .icon-container {
                    height: 392px;

                    .icons-tab {
                        .iconlogo {
                            img {
                                margin: 20px;
                            }
                        }
                    }
                }
            }
            .personal {
                width: 40%;
                margin-top: 0;

                .education {
                    .titlework {
                        .icon {
                            font-size: 46px;
                        }
                        span {
                            font-size: 32px;
                        }
                    }
                    .course {
                        font-size: 26px;
                    }
                    .school {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .location {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .class {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                }
                .work { 
                    margin-bottom: 0;

                    .titlework {  
                        .icon {
                            font-size: 46px;
                            margin-right: 1rem;
                        }
                        span {
                            font-size: 32px;
                        }
                    }
                    .worktitle {
                        font-size: 26px;
                    }
                    .company {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .render {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and  (min-width: 1200px) {
    .skills {  
        .skill-content {  
            width: 90%;

            .skill-tabs { 
                ul li button {
                    font-size: 20px;
                } 
                .icon-container {
                    .icons-tab {
                        .iconlogo {
                            img {
                                margin: 22px;
                            }
                        }
                    }
                }
            }
            .personal {
                .education {
                    .titlework {
                        .icon {
                            font-size: 46px;
                        }
                        span {
                            font-size: 32px;
                        }
                    }
                    .course {
                        font-size: 26px;
                    }
                    .school {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .location {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .class {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                }
                .work { 
                    margin-bottom: 0;

                    .titlework {  
                        .icon {
                            font-size: 46px;
                            margin-right: 1rem;
                        }
                        span {
                            font-size: 32px;
                        }
                    }
                    .worktitle {
                        font-size: 26px;
                    }
                    .company {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .render {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and  (min-width: 1400px) {
    .skills {  
        .skill-content {  
            width: 80%;

            .skill-tabs { 
                ul li button {
                    font-size: 22px;
                } 
                .icon-container {
                    .icons-tab {
                        .iconlogo {
                            img {
                                margin: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}