.skills {
    flex-direction: column;
    color: black;
    font-family: 'PP Neue Machina';

    .title {
        font-weight: 800;
        font-size: 35px;
        margin-top: 5rem;
    }
    .skill-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .skill-tabs {
            position: relative;
            padding: 1.5rem;
            margin-right: 0;
            margin-left: 0;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            width: 100%;
    
            ul li button {
                color: black;
                letter-spacing: 1px;
                font-size: 12px;
            }
            ul li .active {
                font-weight: 600;
            }     
            .icon-container {
                margin-top: 2rem;
                width: 100%;
    
                .icons-tab {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    flex-wrap: wrap;
    
                    .iconlogo {
                        position: relative;
                        
                        img {
                            margin: 15px;
                            cursor: pointer;
                        }
                        .tooltiptext {
                            visibility: hidden;
                            background-color: rgba(0, 30, 60, 0.95);
                            color: #fff;
                            text-align: center;
                            padding: 9px;
                            border-radius: 6px;
                            position: absolute;
                            z-index: 1;
                            margin-left: -90px;
                            margin-top: -50px;
                            border: 1px solid rgb(30, 73, 118);
                            letter-spacing: 1px;
                        }
                        .tooltiptext:before {
                            content: "";
                            position: absolute;
                            top: 43px;
                            left: 27px;
                            z-index: 1;
                            border: solid 8px transparent;
                            border-top-color: rgb(30, 73, 118);
                        }
                    }
                    .iconlogo:hover {
                        .tooltiptext {
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .personal {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            width: 100%;

            .education {
                display: flex;
                flex-direction: column;

                .titlework {
                    display: flex;
                    align-items: center;

                    .icon {
                        font-size: 40px;
                        margin-right: 0.4rem;
                    }
                    span {
                        font-size: 25px;
                        font-weight: 400;
                    }
                }
                .course {
                    margin-top: 10px;
                    font-size: 20px;
                }
                .school {
                    font-size: 16px;
                    font-weight: 300;
                }
                .location {
                    font-size: 16px;
                    font-weight: 300;
                }
                .class {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
            .work {
                display: flex;
                flex-direction: column;
                margin-bottom: 3rem;
                margin-top: 4rem;

                .titlework {
                    display: flex;
                    align-items: center;

                    .icon {
                        font-size: 40px;
                        margin-right: 0.4rem;
                    }
                    span {
                        font-size: 25px;
                        font-weight: 400;
                    }
                }
                .worktitle {
                    margin-top: 10px;
                    font-size: 20px;
                }
                .company {
                    font-size: 16px;
                    font-weight: 300;
                }
                .render {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }
    }
}

@media only screen and (min-width: 412px) {
    .skills {  
        .skill-content {  
            .skill-tabs {      
                ul li button {
                    font-size: 13px;
                } 
            }
            .personal {
                width: 90%;

                .education {
                    .titlework {
                        .icon {
                            font-size: 42px;
                        }
                        span {
                            font-size: 27px;
                        }
                    }
                    .course {
                        margin-top: 12px;
                        font-size: 20px;
                    }
                    .school {
                        font-size: 17px;
                    }
                    .location {
                        font-size: 17px;
                    }
                    .class {
                        font-size: 17px;
                    }
                }
                .work {   
                    .titlework {  
                        .icon {
                            font-size: 42px;
                        }
                        span {
                            font-size: 27px;
                        }
                    }
                    .worktitle {
                        font-size: 17px;
                    }
                    .company {
                        font-size: 17px;
                    }
                    .render {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media only screen and  (min-width: 576px) { 
    .skills {  
        .skill-content {  
            width: 95%;

            .skill-tabs {  
                width: 95%;

                ul li button {
                    font-size: 18px;
                } 
            }
            .personal { 
                width: 80%;

                .education {
                    .titlework {
                        .icon {
                            font-size: 46px;
                            margin-right: 1rem;
                        }
                        span {
                            font-size: 33px;
                        }
                    }
                    .course {
                        margin-top: 15px;
                        font-size: 24px;
                    }
                    .school {
                        font-size: 20px;
                    }
                    .location {
                        font-size: 20px;
                    }
                    .class {
                        font-size: 20px;
                    }
                }
                .work {   
                    .titlework {  
                        .icon {
                            font-size: 46px;
                            margin-right: 1rem;
                        }
                        span {
                            font-size: 33px;
                        }
                    }
                    .worktitle {
                        margin-top: 15px;
                        font-size: 24px;
                    }
                    .company {
                        font-size: 20px;
                    }
                    .render {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and  (min-width: 768px) {
    .skills {  
        .skill-content {  
            width: 90%;

            .skill-tabs { 
                width: 90%;  
                margin-top: 1.5rem;

                ul li button {
                    font-size: 18px;
                } 
                .icon-container {
                    .icons-tab {
                        .iconlogo {
                            img {
                                margin: 20px;
                            }
                        }
                    }
                }
            }
            .personal {   
                width: 80%;

                .education {
                    .titlework {
                        .icon {
                            font-size: 50px;
                        }
                        span {
                            font-size: 38px;
                        }
                    }
                    .course {
                        font-size: 28px;
                    }
                    .school {
                        font-size: 23px;
                        margin-top: 0.5rem;
                    }
                    .location {
                        font-size: 23px;
                        margin-top: 0.5rem;
                    }
                    .class {
                        font-size: 23px;
                        margin-top: 0.5rem;
                    }
                }
                .work {   
                    .titlework {  
                        .icon {
                            font-size: 50px;
                            margin-right: 1rem;
                        }
                        span {
                            font-size: 38px;
                        }
                    }
                    .worktitle {
                        font-size: 28px;
                    }
                    .company {
                        font-size: 23px;
                        margin-top: 0.5rem;
                    }
                    .render {
                        font-size: 23px;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and  (min-width: 992px) {
    .skills {  
        .skill-content {  
            width: 95%; 
            flex-direction: row-reverse;
            margin-bottom: 4rem;

            .skill-tabs { 
                width: 60%;
                align-self: flex-start;
                margin-top: 0;

                ul li button {
                    font-size: 18px;
                } 
                .icon-container {
                    .icons-tab {
                        .iconlogo {
                            img {
                                margin: 20px;
                            }
                        }
                    }
                }
            }
            .personal {
                width: 40%;
                margin-top: 0;

                .education {
                    .titlework {
                        .icon {
                            font-size: 46px;
                        }
                        span {
                            font-size: 32px;
                        }
                    }
                    .course {
                        font-size: 26px;
                    }
                    .school {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .location {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .class {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                }
                .work { 
                    margin-bottom: 0;

                    .titlework {  
                        .icon {
                            font-size: 46px;
                            margin-right: 1rem;
                        }
                        span {
                            font-size: 32px;
                        }
                    }
                    .worktitle {
                        font-size: 26px;
                    }
                    .company {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .render {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and  (min-width: 1200px) {
    .skills {  
        .skill-content {  
            width: 90%;

            .skill-tabs { 
                ul li button {
                    font-size: 20px;
                } 
                .icon-container {
                    .icons-tab {
                        .iconlogo {
                            img {
                                margin: 22px;
                            }
                        }
                    }
                }
            }
            .personal {
                .education {
                    .titlework {
                        .icon {
                            font-size: 46px;
                        }
                        span {
                            font-size: 32px;
                        }
                    }
                    .course {
                        font-size: 26px;
                    }
                    .school {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .location {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .class {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                }
                .work { 
                    margin-bottom: 0;

                    .titlework {  
                        .icon {
                            font-size: 46px;
                            margin-right: 1rem;
                        }
                        span {
                            font-size: 32px;
                        }
                    }
                    .worktitle {
                        font-size: 26px;
                    }
                    .company {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                    .render {
                        font-size: 21px;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and  (min-width: 1400px) {
    .skills {  
        .skill-content {  
            width: 80%;

            .skill-tabs { 
                ul li button {
                    font-size: 22px;
                } 
                .icon-container {
                    .icons-tab {
                        .iconlogo {
                            img {
                                margin: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}