@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800,300');

@font-face {
  font-family: 'Hagrid';
  font-style: normal;
  font-weight: 300;
  src: local('Hagrid-Light'), url(./assets/fonts/Hagrid-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Hagrid';
  font-style: normal;
  font-weight: 400;
  src: local('Hagrid'), url(./assets/fonts/Hagrid-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Neue Machina Light'), url(./assets/fonts/NeueMachina-Light.otf) format('opentype');
}

@font-face {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PP Neue Machina'), url(./assets/fonts/NeueMachina-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('PP Neue Machina SuperBold'), url(./assets/fonts/NeueMachina-bold.otf) format('opentype');
}

*, :after, :before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0c2431;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: rgb(238, 234, 244) 0px 0px 5px inset;
  border-radius: 10px;
}
