@import '../node_modules/bootstrap/scss/bootstrap.scss';

*, :after, :before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Agustina';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Agustina'), url('Fonts/Agustina.woff') format('woff');
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0c2431;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: rgb(238, 234, 244) 0px 0px 5px inset;
  border-radius: 10px;
}
